body {
  background: black;
  margin: 0;
  padding: 0;
  background-image: url(/img/congruent_pentagon.png);
}

#overlay {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#container {
  box-sizing: padding-box;
  border: 1px solid white;
  width: 700px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bird {
  z-index: 5;
  top: 0;
  left:0;
  background-image: url(/img/birdie.png);
  width: 183px;
  height: 168px;
  position: absolute;
}

.cloud {
  z-index: 1;
  position: absolute;
  left: -120px;
  transition-property: transform;
  transition-timing-function: linear;
  transorm: translateX(820px);
}

.cloud.small {
  background-image: url(/img/small-cloud.png);
  width: 130px;
  height: 47px;
}

.cloud.med {
  background-image: url(/img/med-cloud.png);
  width: 200px;
  height: 171px;
}

.cloud.large {
  background-image: url(/img/large-cloud.png);
  width: 170px;
  height: 100px;
}

.pipe {
  z-index: 10;
  width: 120px;
  height: 600px;
  position: absolute;
  top: 0;
  left: -120px;
  background-image: url(/img/pipe-tall.png);
  transition-property: transform;
  transition-timing-function: linear;
  transform: translateX(820px);
}

#fps {
  z-index: 4000;
  position: fixed;
  top: 40px;
  left: 170px;
  font-size: 48px;
  color: black;
  width: 30px;
  height: 30px;
}
